__pycache__/api_client.cpython-312.pyc
__pycache__/drugwAIrs.cpython-312.pyc
__pycache__/tokenizer.cpython-312.pyc
archive/api_calls.jsonl
archive/drugwAIrs_00.py
archive/drugwAIrs_01.py
archive/drugwAIrs_02.py
archive/drugwAIrs_03.py
archive/drugwAIrs_04.py
archive/drugwAIrs_multi copy 2.py
archive/drugwAIrs_multi copy 3.py
archive/drugwAIrs_multi copy 4.py
archive/drugwAIrs_multi copy 5.py
archive/drugwAIrs_multi copy 6.py
archive/drugwAIrs_multi copy 7.py
archive/drugwAIrs_multi copy 8.py
archive/drugwAIrs_multi copy 9.py
archive/drugwAIrs_multi copy 10.py
archive/drugwAIrs_multi copy 11.py
archive/drugwAIrs_multi copy 12.py
archive/drugwAIrs_multi copy.py
archive/drugwAIrs_multi.py
archive/drugwAIrs_new copy 2.py
archive/drugwAIrs_new copy 3.py
archive/drugwAIrs_new copy.py
archive/drugwAIrs_new.py
archive/drugwAIrs_ollama.py
archive/drugwAIrs_single copy.py
archive/drugwAIrs_single.py
archive/drugwAIrs.py
archive/drugwars_game_20241231_192442.jsonl
archive/drugwars_game_20241231_201047.jsonl
archive/morpheus copy.yaml
archive/neo copy 2.yaml
archive/neo copy.yaml
archive/network_stats.csv
archive/prompts.yaml
archive/testnetwokr.py
archive/testWARS.py
archive/trinity copy 2.yaml
archive/trinity copy.yaml
archive/181225/drugwAIrs_multi copy 2.py
archive/181225/drugwAIrs_multi copy 3.py
archive/181225/drugwAIrs_multi copy.py

api_calls.jsonl